<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/dashboard.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1 class="text-center">Dashboard</h1>

<div class="row mt-4">
    <div class="col-12 col-md-6">
        <div class="card border-1 rounded-4 mb-5">
            <div class="card-body p-4">
                <h6 class="card-title fw-semibold text-center mb-3">Difficulty Distribution</h6>
                <div class="doughnut">
                    <canvas id="difficultyChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card border-1 rounded-4 mb-5">
            <div class="card-body p-4">
                <h6 class="card-title fw-semibold text-center mb-3">Status Distribution</h6>
                <div class="doughnut">
                    <canvas id="statusChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card border-1 rounded-4 mb-5">
    <div class="card-body p-4">
        <h6 class="card-title fw-semibold text-center mb-3">Platform Distribution</h6>
        <div class="bar">
            <canvas id="platformChart"></canvas>
        </div>
    </div>
</div>

<div class="card border-1 rounded-4">
    <div class="card-body p-4">
        <h6 class="card-title fw-semibold text-center mb-3">Topic Distribution</h6>
        <div class="bar">
            <canvas id="topicChart"></canvas>
        </div>
    </div>
</div>

<script nonce="<%= nonce %>">
    const difficultyConfig = <%- JSON.stringify(difficultyConfig) %>;
    const statusConfig = <%- JSON.stringify(statusConfig) %>;
    const platformConfig = <%- JSON.stringify(platformConfig) %>;
    const topicConfig = <%- JSON.stringify(topicConfig) %>;
    new Chart(document.getElementById('difficultyChart'),difficultyConfig);
    new Chart(document.getElementById('statusChart'),statusConfig);
    new Chart(document.getElementById('platformChart'),platformConfig);
    new Chart(document.getElementById('topicChart'),topicConfig);
</script>