<%- layout('layouts/boilerplate') %>
<div class="mx-auto my-3 w-50">
	<h1><%= ID %>. <%= title %> <% if(favourite) { %> ⭐ <% } else { %> ☆ <% } %></h1>
	<section id="question">
		<span class="me-2"><%= difficulty %></span>
		<span class="me-2"><%= platform %></span>
		<a href="<%= link %>">Question Link</a>
		<% if(tags && tags.length) { %>
		<div>
			Tags : <% tags.forEach((tag)=>{ %>
			<span class="align-text-top badge rounded-pill text-bg-secondary"><%= tag %></span>
			<% }) %>
		</div>
		<% } else { %>
		<div>
			No tags
		</div>
		<% } %>
	</section>
	<hr />
	<section id="solution">
		<span class="me-2">Status : <%= status %></span>
		<% if(solvedDate) {%>
		<p>Solved on <%= solvedDate %></p>
		<% } %> <% if(timeTaken) {%>
		<p>Time taken : <%= timeTaken %> minutes</p>
		<% } %> <% if(notes) {%>
		<p>Notes: <%= notes %></p>
		<% } %> <% if(solutionLink) { %>
		<a href="<%= solutionLink %>">Solution Link</a>
		<% } %>
	</section>
	<hr />

	<section id="revision">
		<% if(lastRevisionDate) {%>
		<p>Last Revision Date: <%= lastRevisionDate %></p>
		<% } %> <% if(nextRevisionDate) {%>
		<p>Next Revision Date: <%= nextRevisionDate %></p>
		<% } %> <% if(revisionCount>=0) {%>
		<p>Revision Count: <%= revisionCount %></p>
		<% } %>
	</section>
	<hr />
	<a href="/questions/<%= _id %>/edit" class="btn btn-warning">Edit</a>
	<form class="d-inline" action="/questions/<%= _id %>?_method=delete" method="post">
		<button class="btn btn-danger">Delete</button>
	</form>
</div>
