<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/tagBox.css">
<% const dateFormatter = new Intl.DateTimeFormat("en-CA",{timeZone:"IST"});%>
<div class="my-3 container">
	<h1 class="text-center">Edit question</h1>
	<div class="col-md-7 mx-auto">
		<form action="/questions/<%= _id %>?_method=patch" method="post" class="validation-required" novalidate>
			<div class="container">
				<div class="mb-3">
					<label for="ID">Question ID</label>
					<input type="text" class="form-control" name="question[ID]" id="ID" placeholder="Enter the question ID" value="<%= ID %>" required autofocus />
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter the question ID.</div>
				</div>
				<div class="mb-3">
					<label for="title">Question Title</label>
					<input type="text" class="form-control" name="question[title]" id="title" placeholder="Enter the question title" value="<%= title %>" required />
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter the question title.</div>
				</div>
				<div class="mb-3">
					<label for="link">Question link</label>
						<input type="url" class="form-control" name="question[link]" id="link" placeholder="Enter the question link" value="<%= link %>" pattern="https?://.*" required />
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a valid question link.</div>
				</div>
				<div class="mb-3">
					<label for="difficulty">Difficulty</label>
					<select class="form-select" name="question[difficulty]" id="difficulty" required>
						<% for(let difficultyLevel of difficultyLevels){ %>
							<option value="<%= difficultyLevel %>" <%= difficulty===difficultyLevel?"selected":"" %>><%= difficultyLevel %></option>
						<%}%>
					</select>
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div class="mb-3">
					<label for="platform">Platform</label>
					<select class="form-select" name="question[platform]" id="platform" required>
						<% for(let platformOption of platforms){ %>
							<option value="<%= platformOption %>" <%= platform===platformOption?"selected":"" %>><%= platformOption %></option>
						<%}%>
					</select>
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div class="mb-3">
					<label for="status">Status</label>
					<select class="form-select" name="question[status]" id="status" required>
						<% for(let statusOption of statusOptions){ %>
							<option value="<%= statusOption %>" <%= status===statusOption?"selected":"" %>><%= statusOption %></option>
						<%}%>
					</select>
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div>
				<label for="tags">Tags</label>
					<div class="overflow-y-auto mb-3 border border-secondary-subtle rounded p-1" id="tagBox">
						<% for(let tag of tagList) { %>
							<% const isChecked = tags && tags.includes(tag); %>
							<div class="d-inline-block m-1">
								<label class="btn rounded-pill btn-sm <%= isChecked ? 'btn-primary' : 'btn-light' %> q-tag">
									<input type="checkbox" class="btn-check" name="question[tags][]" value="<%= tag %>" <%= isChecked ? 'checked' : '' %>>
									<%= tag %>
								</label>
							</div>
						<% } %>
					</div>
				</div>
				<div class="mb-3">
					<label for="solvedDate">Solved date</label>
					<input type="date" class="form-control" name="question[solvedDate]" id="solvedDate" placeholder="Enter the solving date" value="<%= solvedDate?solvedDate:"" %>" max="<%= dateFormatter.format(Date.now()) %>"/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a valid date.</div>
				</div>
				<div class="mb-3">
					<label for="timeTaken">Time taken</label>
					<input type="number" class="form-control" name="question[timeTaken]" id="timeTaken" placeholder="Enter the time taken in minutes" min="0" value="<%= timeTaken?timeTaken:"" %>"/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a valid value.</div>
				</div>
				<div class="mb-3">
					<label for="notes">Notes</label>
					<textarea class="form-control" name="question[notes]" id="notes" placeholder="Enter notes (if any)" rows="5" cols="30"><%= notes %></textarea>
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div class="mb-3">
					<div class="form-check form-switch">
						<label class="form-check-label" for="favourite">Favourite</label>
						<input class="form-check-input" type="checkbox" role="switch" name="question[favourite]" id="favourite" <%= favourite?"checked":"" %>/>
						<div class="valid-feedback">Looks good!</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="solutionLink">Solution link</label>
					<input type="url" class="form-control" name="question[solutionLink]" id="solutionLink" placeholder="Enter the solution link" value="<%= solutionLink?solutionLink:"" %>" pattern="https?://.*" />
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a valid link.</div>
				</div>
				<div class="mb-3">
					<label for="lastRevisionDate">Last revision date</label>
					<input type="date" class="form-control" name="question[lastRevisionDate]" id="lastRevisionDate" placeholder="Enter the last revision date" value="<%= lastRevisionDate?lastRevisionDate:"" %>" max="<%= dateFormatter.format(Date.now()) %>"/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a valid date.</div>
				</div>
				<div class="mb-3">
					<label for="nextRevisionDate">Next revision date</label>
					<input type="date" class="form-control" name="question[nextRevisionDate]" id="nextRevisionDate" placeholder="Enter the next revision date" value="<%= nextRevisionDate?nextRevisionDate:"" %>" min="<%= dateFormatter.format(Date.now()) %>"/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a valid date.</div>
				</div>
				<div class="mb-3">
					<label for="revisionCount">Revision count</label>
					<input type="number" class="form-control" name="question[revisionCount]" id="revisionCount" placeholder="Enter the revision count" min="0" value="<%= revisionCount>=0?revisionCount:"" %>" />
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a valid count.</div>
				</div>
				<button class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>
</div>
<script src="/js/tags.js"></script>