<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/css/tagBox.css">
<link rel="stylesheet" href="/css/placeholder.css">
<link rel="stylesheet" href="/css/addButton.css">
<h1 class="my-3 text-center">Questions</h1>
	<div class="my-3 container">
	<form action="/questions/1">
		<fieldset class="w-50 mx-auto border border-secondary rounded px-3 mb-3">
			<legend class="float-none w-auto px-2 fs-6">Filters</legend>
			<div class="mb-3">
				<label for="title">Title</label>
				<input type="text" id="title" name="title" class="form-control" placeholder="Type here to search" value="<%= display.title?display.title:'' %>">
			</div>
			<div class="row g-3 mb-3">
				<div class="col-md-4">
					<label for="difficulty">Difficulty</label>
					<select class="form-select" name="difficulty" id="difficulty">
						<option value="">Any</option>
						<% for(let difficultyLevel of difficultyLevels){ %>
							<option value="<%= difficultyLevel %>" <%= display.difficulty===difficultyLevel?"selected":"" %>><%= difficultyLevel %></option>
						<%}%>
					</select>
				</div>
				<div class="col-md-4">
					<label for="platform">Platform</label>
					<select class="form-select" name="platform" id="platform">
						<option value="">Any</option>
						<% for(let platformOption of platforms){ %>
							<option value="<%= platformOption %>" <%= display.platform===platformOption?"selected":"" %>><%= platformOption %></option>
						<%}%>
					</select>
				</div>
				<div class="col-md-4">
					<label for="status">Status</label>
					<select class="form-select" name="status" id="status">
						<option value="">Any</option>
						<% for(let statusOption of statusOptions){ %>
							<option value="<%= statusOption %>" <%= display.status===statusOption?"selected":"" %>><%= statusOption %></option>
						<%}%>
					</select>
				</div>
			</div>
			<div>
				<label for="tags">Tags</label>
				<div class="overflow-y-auto mb-3 border border-secondary-subtle rounded p-1" id="tagBox">
					<% for(let tag of tagList) { %>
						<% const isChecked = display.tags && display.tags.includes(tag); %>
						<div class="d-inline-block m-1">
							<label class="btn rounded-pill btn-sm <%= isChecked ? 'btn-primary' : 'btn-light' %> q-tag">
								<input type="checkbox" class="btn-check" name="tags" value="<%= tag %>" <%= isChecked ? 'checked' : '' %>>
								<%= tag %>
							</label>
						</div>
					<% } %>
				</div>
			</div>
			<div class="mb-3">
				<label for="sortBy">Sort by</label>
				<select class="form-select" name="sortBy" id="sortBy">
					<option value="title_asc" <%= display.sortBy==="title_asc"?"selected":"" %>>Title (A to Z)</option>
					<option value="title_dsc" <%= display.sortBy==="title_dsc"?"selected":"" %>>Title (Z to A)</option>
					<option value="diff_asc" <%= display.sortBy==="diff_asc"?"selected":"" %>>Difficulty (Easy to Hard)</option>
					<option value="diff_dsc" <%= display.sortBy==="diff_dsc"?"selected":"" %>>Difficulty (Hard to Easy)</option>
					<option value="date_added_asc" <%= (!display.sortBy || display.sortBy==="date_added_asc")?"selected":"" %>>Date Added (Oldest to Newest)</option>
					<option value="date_added_dsc" <%= display.sortBy==="date_added_dsc"?"selected":"" %>>Date Added (Newest to Oldest)</option>
				</select>
			</div>
			<div class="d-grid d-md-block">
				<button class="mb-3 btn btn-success">Submit</button>
			</div>
		</fieldset>
	</form>
	<% if(questions.length===0){ %>
	<div class="custom-placeholder my-5">
		<p class="mb-3">You have not added any questions <%= queryString?"that match the conditions.":"." %></p>
		<a class="btn btn-primary" href="/questions/new">Add one</a>
	</div>
	<% } else { %>
	<% for(let question of questions){ %>
		<div class="card mb-3 w-50 mx-auto">
			<h5 class="card-header"><%= question.platform %> #<%= question.ID %></h5>
			<div class="card-body">
				<h5 class="card-title"><%= question.title %> (<%= question.difficulty %>)</h5>
				<p><%= question.status %></p>
				<div class="d-flex gap-2">
					<a href="/questions/<%= page %>/<%= question._id %>" class="btn btn-primary">Details</a>
					<a href="<%= question.link %>" class="d-inline-flex btn btn-primary" target="_blank"><%= question.platform %><i class="bi bi-box-arrow-up-right small ms-1"></i></a>
				</div>
			</div>
			<div class="card-footer">
				<% if(question.tags && question.tags.length) { %>
					<% question.tags.forEach(tag => { %>
						<span class="badge rounded-pill text-bg-secondary"><%= tag %></span> 
					<% }); %>
				<% } else {%>
					<span>No tags</span>
				<% } %>
			</div>
		</div>
	<% } %>
	<nav class="w-50 mx-auto">
		<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link <%= page==1?"disabled":"" %>" href="/questions/<%= page-1 %>?<%= queryString %>">Previous</a></li>
			<% for(let i=1;i<=num;i++) { %>
				<li class="page-item"><a class="page-link <%= i==page?"active":"" %>" href="/questions/<%= i %>?<%= queryString %>"><%= i %></a></li>
			<% } %>
			<li class="page-item"><a class="page-link <%= page==num?"disabled":"" %>" href="/questions/<%= parseInt(page)+1 %>?<%= queryString %>">Next</a></li>
		</ul>
	</nav>
<% } %>
</div>
<div class="container float-container">
	<a href="/questions/<%= num %>/new" type="button" class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center float-button"><i class="bi bi-plus-lg fs-3"></i></a>
</div>
<script src="/js/tags.js"></script>